<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= member_name %> </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
</head>
<body>
    <h1>This is the <%= member_name %> page!</h1>
    <canvas id="myChart" width="800" height="800"></canvas>
    <script>
        const chart_data = JSON.parse('<%- JSON.stringify(chart_data) %>');
        let converted_data = []
        for (let point of chart_data) {
            converted_data.push({x: new Date(point.x), y: point.y})
        }
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: '# of <%= member_id %>',
                    data: converted_data,
                    backgroundColor: 'rgb(255, 0, 0)'
                }]
            },
            options: {
                responsive: false,
                scales: {
                    x: {
                        ticks: {
                            callback: function(value, index, values) {
                                let options = {year: 'numeric', month: 'long', day: 'numeric' };
                                let formatted_date = new Date(value).toLocaleString('en-US', options);
                                return formatted_date;
                            }
                        }
                    },
                    yAxis: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>