body {
    font-family: 'Fira Sans', sans-serif !important;
}

.homepage-description {
    font-size: medium;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(201, 201, 201);
}

.generation-header {
    text-transform: capitalize;
}

.member-card {
    min-width: 10rem;
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.member-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}