body {
    font-family: 'Fira Sans', sans-serif !important;
}

#common_chart_canvas {
    margin: 3rem;
    min-height:250px;
    max-height:500px;
}

.stream-card {
    min-width: 10rem;
    margin: 1rem;
    padding: 0px;
}

.stream-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.stream-card-header {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    padding: 0.2rem;
}

.card-stream-thumbnail {
    opacity: 0.5;
    height: 10rem;
    object-fit: cover;
    display: block;
    filter: blur(1px);
    width: 100%;
}

.crop-text-3 {
    -webkit-line-clamp: 3;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }